@font-face {
    font-family: 'Moderne Sans'; /*a name to be used later*/
    src: url('MODERNE SANS.ttf'); /*URL to font*/
}
header{
	text-align: center;
	color: #FFFFFF;
	font-family: 'Moderne Sans';
	font-size: 65px;
}
body{
	background-color: #252525;
	color: #3498db;
	font-family: 'Moderne Sans';
	font-size: 25px;
}
table{
	margin: 0 auto; 
}
th{
	text-align: center;
}
th, td{
	padding: 10px;
}
.box{
	background-color: #bdc3c7;
	border-style: none;
	height: 25px;
	font-size: 20px;
}
.description{
	background-color: #bdc3c7;
	border-style: none;
	font-size: 15px;
	height: 200px;
	width: 400px;
}
.long{
	background-color: #bdc3c7;
	border-style: none;
	font-size: 20px;
	height: 25px;
	width: 400px;
	overflow-x: scroll;
}
